<h1>Listing agendas</h1>

<% if @agendas.blank? %>
  <p>There is no agenda registered.</p>
<% else %>
  <table>
    <% for agenda in @agendas %>
      <tr>
        <% if permitted_to? :show, agenda %>
          <td><%= link_to content_tag('b', agenda.band.name + " - " + agenda.start.strftime("%m/%d/%Y")), agenda %></td>
        <% end %>
        <% if permitted_to? :edit, agenda %>
          <td><%= link_to 'Edit', edit_agenda_path(agenda) %></td>
        <% end %>
        <% if permitted_to? :destroy, agenda %>
          <td><%= link_to 'Destroy', agenda, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

<br />

<% if permitted_to? :create, Agenda.new %>
  <%= link_to 'New agenda', new_agenda_path %>
<% end %>
