body {
	font-family: Helvetica, Geneva, Arial, sans-serif;
	font-size: small;
	font-color: #000;
	background-color: #fff;
}
a:link, a:active, a:visited {
	color: #CD0000;
  }
input { 
	margin-bottom: 5px;
}
p { 
	line-height: 150%;
}
div#header {
	text-align: center;
	padding-bottom: 15px;
}

div#container {
	width: 760px;
	margin: 0 auto;
}

div#content {
	float: left;
	width: 450px;
	padding: 10px;
}

div#content h3 {
	margin-top: 15px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.folder_header {
  position: relative;
  border: 1px solid #888;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  padding: 6px 4px 9px 4px;
  background: #D3D7CF;
  width: 250px;
}

.folder_body {
  position: relative;
  border: 1px solid #888;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-topright: 20px;
  padding: 6px 4px 9px 4px;
  background: #EEEEEC;
  width: 500px;
}

.fields {
  clear: both;
}

.required {
  margin-right: -2px;
}

.required .field_label {
  margin-right: -7px;
}

.field_label {
  height: 100%;
  width: 200px;
  float: left;
}

.fieldWithErrors .field_label {
  background-color: red;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

