body {
	font-family: Helvetica, Geneva, Arial, sans-serif;
	font-size: small;
	font-color: #000;
	background-color: #fff;
}
a:link, a:active, a:visited {
	color: #CD0000;
  }
input { 
	margin-bottom: 5px;
}
p { 
	line-height: 150%;
}
div#header {
	text-align: center;
	padding-bottom: 15px;
}

div#container {
	width: 760px;
	margin: 0 auto;
}

div#content {
	float: left;
	width: 450px;
	padding: 10px;
}

div#content h3 {
	margin-top: 15px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

div.cool_box {
	width: 200px;
	background-color: #bbb;
	border: 1px solid #ccc;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

